In [1]:
using DataFrames, Plots

In [5]:
# load data
tax = readtable("incomeTaxData.csv")

12589×13 DataFrames.DataFrame
│ Row   │ Year │ County                     │ IncomeClass         │ Disclosure │
├───────┼──────┼────────────────────────────┼─────────────────────┼────────────┤
│ 1     │ 2011 │ "Hamilton"                 │ "500,000 and over"  │ "d/"       │
│ 2     │ 2003 │ "Dutchess"                 │ "100,000 - 199,999" │ NA         │
│ 3     │ 2001 │ "Ontario"                  │ "Total"             │ NA         │
│ 4     │ 2012 │ "New York City - Richmond" │ "30,000 - 39,999"   │ NA         │
│ 5     │ 2007 │ "Clinton"                  │ "50,000 - 59,999"   │ NA         │
│ 6     │ 1999 │ "Saratoga"                 │ "Total"             │ NA         │
│ 7     │ 2010 │ "Onondaga"                 │ "60,000 - 74,999"   │ NA         │
│ 8     │ 2008 │ "Ulster"                   │ "40,000 - 49,999"   │ NA         │
│ 9     │ 2005 │ "Clinton"                  │ "Total"             │ NA         │
│ 10    │ 2007 │ "Livingston"               │ "200,000 - 249,999" │ NA         │
│ 11    │ 2012 │ "Washington"               │ "500,000 and over"  │ NA         │
⋮
│ 12578 │ 2013 │ "Residence Unknown ++"     │ "10,000 - 19,999"   │ NA         │
│ 12579 │ 2013 │ "Residence Unknown ++"     │ "20,000 - 29,999"   │ NA         │
│ 12580 │ 2013 │ "Residence Unknown ++"     │ "30,000 - 39,999"   │ NA         │
│ 12581 │ 2013 │ "Residence Unknown ++"     │ "40,000 - 49,999"   │ NA         │
│ 12582 │ 2013 │ "Residence Unknown ++"     │ "50,000 - 59,999"   │ NA         │
│ 12583 │ 2013 │ "Residence Unknown ++"     │ "60,000 - 74,999"   │ NA         │
│ 12584 │ 2013 │ "Residence Unknown ++"     │ "75,000 - 99,999"   │ NA         │
│ 12585 │ 2013 │ "Residence Unknown ++"     │ "100,000 - 199,999" │ NA         │
│ 12586 │ 2013 │ "Residence Unknown ++"     │ "200,000 - 249,999" │ NA         │
│ 12587 │ 2013 │ "Residence Unknown ++"     │ "250,000 - 499,999" │ NA         │
│ 12588 │ 2013 │ "Residence Unknown ++"     │ "500,000 and over"  │ NA         │
│ 12589 │ 2013 │ "Residence Unknown ++"     │ "Total"             │ NA         │

│ Row   │ ReturnCount │ TotalIncome │ TotalDeductions │ TotalExemptions │
├───────┼─────────────┼─────────────┼─────────────────┼─────────────────┤
│ 1     │ NA          │ NA          │ NA              │ NA              │
│ 2     │ 12738       │ 1668991     │ 261775          │ 16628           │
│ 3     │ 44898       │ 1829734     │ 449962          │ 25393           │
│ 4     │ 16086       │ 559918      │ 192402          │ 10519           │
│ 5     │ 2197        │ 120482      │ 29429           │ 1649            │
│ 6     │ 88920       │ 3969074     │ 883753          │ 51293           │
│ 7     │ 13837       │ 928570      │ 195635          │ 11010           │
│ 8     │ 5971        │ 266988      │ 77044           │ 3435            │
│ 9     │ 33634       │ 1284580     │ 332270          │ 17436           │
│ 10    │ 104         │ 22811       │ 2165            │ 135             │
│ 11    │ 35          │ 44397       │ 1770            │ 12              │
⋮
│ 12578 │ 1118        │ 16366       │ 11013           │ 475             │
│ 12579 │ 741         │ 18389       │ 8519            │ 611             │
│ 12580 │ 555         │ 19240       │ 6821            │ 473             │
│ 12581 │ 341         │ 15309       │ 4797            │ 230             │
│ 12582 │ 299         │ 16294       │ 4246            │ 137             │
│ 12583 │ 294         │ 19698       │ 4452            │ 167             │
│ 12584 │ 349         │ 30106       │ 6249            │ 190             │
│ 12585 │ 527         │ 74543       │ 10177           │ 282             │
│ 12586 │ 127         │ 28013       │ 3219            │ 93              │
│ 12587 │ 223         │ 79218       │ 5876            │ 174             │
│ 12588 │ 326         │ 872846      │ 14092           │ 290             │
│ 12589 │ 7612        │ 1087357     │ 85023           │ 3138            │

│ Row   │ TotalTaxableIncome │ TotalTaxBeforeCredits │ TotalTaxLiability │
├───────┼────────────────────┼───────────────────────┼───────────────────┤
│ 1     │ NA                 │ NA                    │ NA                │
│ 2     │ 1390589            │ 91652                 │ 87689             │
│ 3     │ 1354378            │ 77454                 │ 72764             │
│ 4     │ 356997             │ 17286                 │ 12238             │
│ 5     │ 89404              │ 4738                  │ 4220              │
│ 6     │ 3034030            │ 175973                │ 169908            │
│ 7     │ 721925             │ 40503                 │ 37426             │
│ 8     │ 186509             │ 9728                  │ 8672              │
│ 9     │ 934774             │ 53837                 │ 44740             │
│ 10    │ 20511              │ 1405                  │ 872               │
│ 11    │ 42614              │ 3256                  │ 3033              │
⋮
│ 12578 │ 4878               │ 198                   │ -334              │
│ 12579 │ 9259               │ 409                   │ 47                │
│ 12580 │ 11946              │ 569                   │ 302               │
│ 12581 │ 10283              │ 522                   │ 434               │
│ 12582 │ 11911              │ 639                   │ 557               │
│ 12583 │ 15079              │ 838                   │ 770               │
│ 12584 │ 23667              │ 1366                  │ 1247              │
│ 12585 │ 64083              │ 4095                  │ 3720              │
│ 12586 │ 24702              │ 1643                  │ 1469              │
│ 12587 │ 73168              │ 4972                  │ 4492              │
│ 12588 │ 858465             │ 71780                 │ 63360             │
│ 12589 │ 1107923            │ 87051                 │ 75763             │

│ Row   │ Place_of_Residence_Sort_Order │ Income_Class_Sort_Order │
├───────┼───────────────────────────────┼─────────────────────────┤
│ 1     │ 26                            │ 13                      │
│ 2     │ 19                            │ 10                      │
│ 3     │ 38                            │ 12                      │
│ 4     │ 5                             │ 5                       │
│ 5     │ 15                            │ 7                       │
│ 6     │ 47                            │ 12                      │
│ 7     │ 37                            │ 8                       │
│ 8     │ 57                            │ 6                       │
│ 9     │ 15                            │ 12                      │
│ 10    │ 30                            │ 11                      │
│ 11    │ 59                            │ 13                      │
⋮
│ 12578 │ 66                            │ 3                       │
│ 12579 │ 66                            │ 4                       │
│ 12580 │ 66                            │ 5                       │
│ 12581 │ 66                            │ 6                       │
│ 12582 │ 66                            │ 7                       │
│ 12583 │ 66                            │ 8                       │
│ 12584 │ 66                            │ 9                       │
│ 12585 │ 66                            │ 10                      │
│ 12586 │ 66                            │ 11                      │
│ 12587 │ 66                            │ 12                      │
│ 12588 │ 66                            │ 13                      │
│ 12589 │ 66                            │ 14                      │

You can see just from the first line of the dataset that the there are some rows with no returns associated with it. Let's delete those from the dataset.

Also note that all of the data is in thousands of dollars.

In [6]:
# clean data
tax = tax[.!(isna.(tax[:ReturnCount])), :];
sort(tax, cols = :Year)

# create new columns
tax[:avg_tax] = tax[:TotalTaxLiability]./tax[:ReturnCount];

# a)

Plot the number of returns in Tompkins County over time.


Plot the average income tax per return in Tompkins County (disregarding income tax).

What kind of plot did you choose to make? Why?

# b)

Continuing to look only at Tompkins County, fit a model that predicts avg_tax using the year number. Do this with least squares.

Transform the input to include an offset term in the model

# c)

Now we will change the feature space.
Fit a model using the year and the avg_tax from the previous year.

Interpret the coefficients of this. What do they mean?

Plot the real average tax return per year against your model's prediction. Discuss how you think your model fits.

# d)

Add two new features to your model. This could be a column of the data, a transformation of a column, or a new column formed from another. The only requirement is that the prediction in year $t$ be based on data avilable by the end of year $t-1$

Fit this model and interpret the coefficients.

# e)

Compare the coefficients from part b and c. Does the coefficient of avg_tax differ in the two models? If so, how do you interpret this difference?

# f)

Now we want to see how this model performs in other counties. Apply the model you fit in part c, with coefficients $w^c$, to data from the other counties and compute the error of this model on each data set.

Plot a histogram of the mean errors the model makes.

Are there major outliers?

# g)

Using the same features you chose in part d, fit a model to the data for each of the other counties. These will be county-specific models. They may have different coefficient vectors from $w^d$.

Plot a histogram of the mean square errors of the county-specific models for their respective counties.

Again, are there major outliers? How do the coefficients compare across counties?